@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width of scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Grey */
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker grey */
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
